body {
    --at-apply: bg-primary400;
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;

}

@media (width < 1024px) {
    body {
        background-image: url(./images/bg-mobile.svg);
    }
}




main {
    padding: 4rem 5rem;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.imageholder {
    box-sizing: content-box;
    padding: 0.6125rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    --size: 1rem;
    width: var(--size);
    height: var(--size);
    fill: white;
    cursor: pointer;

    &:hover {
        --at-apply: border-primary300 fill-primary300
    }
}

svg {
    fill: inherit;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}